---
layout: job_family_page
title: "Business Systems Administrator"
---

## Business Systems Administrator
Business Systems Administrators work on the configuration of GitLab's Salesforce.com instance and all packages, tools and integrations associated with it.
They work with Field Operation's internal customers such as Sales, Marketing, Customer Success and Finance to gather requriements for improvement projects and then execute on those projects.
They work with a combined team of Business Systems Engineers, Data Analysts, and Sales Operations Specialist to keep our Go-To-Market processes automated and efficent.

### Requirements
* 2+ Years experience in a Sales Operations, Business Operations or Business Systems role.
* Received or pursuing the Salesforce.com Administrator certification.
* Expierence with Quote to Cash or Configure, Price, Quote functionality.
* Understanding of the Salesforce.com data model and how to effectively extract, transform and load data.
* An inclination towards communication, inclusion, and visibility.
* Experience owning and driving a project from concept to production, including proposal, discussion, and execution.
* Self-motivated and self-managing, with strong organizational skills.
* Demonstrated ability to work collaboratively and across teams.
* Share GitLab's [values](/handbook/values), and works in accordance with those values.
* Ability to thrive in a fully remote organization.
* Ability to use GitLab

### Nice To Haves
* Experience with Zuora and Zoura CPQ.
* Experience with DataFox, DiscoverOrg or similar data enrichment tools.
* Salesforce.com App Builder, Architect or other advanced certifications.
* Experience working at a subscription based product company.
* Experience working in an Agile team work environment.

### Responsibilities
* Support our internal customers by fielding any and all questions, solving problems on the spot or routing them to who can solve in a timely manner.
* Oversee the configuration and support of our suite of Sales Tools, being the go-to person for any questions or improvement ideas.
* Build enhancements with Salesforce.com configuration such as workflow rules, validation rules, process builder and lightning components.
* Expert knowledge on the use of Salesforce.com objects such as Accounts, Contacts, Leads, Opportunities, Quotes, and Campaigns.
* Jump in and own short range Sales efficiency projects, having real impact on Sales performance.
* Gather business requirements for improvement projects and synthizie them into technical specifications for Business Systems Engineers to build.

<%= partial("job-families/sales/performance", :locals => { :roleName => "Business Systems Administrator" }) %>

## Levels
Read more about [levels](/handbook/hiring/#definitions) at GitLab here.

### Business Systems Administrator

See the requirements and responsibilities outlined above.

#### Job Grade

The Business Systems Administrator is a [grade 6](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Senior Business Systems Administator

The Senior Business Systems Administator role extends the Business Systems Administator role.

#### Job Grade

The Senior Business Systems Administrator is a [grade 7](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

#### Requirements
* 2+ Years experience in a Business Systems Administrator role.
* 5+ Years experience in Sales Operations, Business Operations or Business Systems role.
* Received or pursuing the Salesforce.com Advanced Administrator certification.
* Proven track record of driving projects to timely completion with end user accepted deliverables.

### Hiring Process
* Candidates for this position can expect the hiring process to follow the order below. Please keep in mind that candidates can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find their job title on our [team page](/company/team/).
* Additional details about our process can be found on our [hiring page](/handbook/hiring).
* Initial phone/video screen from a GitLab Talent Acquisition professional
* Phone/video interview with hiring manager and typically two additional GitLab team member
* Final interview with 1+ GitLab executives
* Reference checks
