### Release

The three year target for Release (high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/661492/WIP-Ops:-Release:-Release-Management)) is:

- Deliver on the promise of [Progressive Delivery](/direction/ops/#progressive-delivery) by offering a market-leading solution.
- Point GitLab to your code and your environment (whether that's Kubernetes, Azure, Google Cloud Platform, AWS, mobile marketplaces, or other app stores) and we'll automatically connect the dots to handle your deployments.
- Seamlessly navigate cross-repository, multi-cloud, complex releases in ways natural to both mature organizations and new users, wherever they are at in their DevOps Journey.
- Automatically capture all the necessary information about changes to production for an audit or compliance event as a byproduct of using Releases.
- Support teams that are transitioning from centralized Release Management roles into shared ownership of that responsibility. Some of the beacons we are committed to that will help here are: 
    - Automatically stop and/or roll back deployments based upon predefined monitoring error thresholds. 
    - Extend advanced deployments with greater customization and control of the deployment.
    - Use a comprehensive, contextual dashboard to manage Feature Flags in your code, giving higher levels of visibility into what features are enabled where, connecting this all the way down to the issue and merge request that introduced the change. 

The details of how we'll achieve different elements of this can be found in the individual category pages below:

#### Release Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>

#### Pricing
<%= partial("direction/ops/tiering/release") %>