### Verify

The three year goals of the Verify group (high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)) are:

1. Be the tool of choice for groups that want to reduce their lead time for changes to under an hour. Part of how we will achieve this is by taking [CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) to the next level.
1. [Provide automated setup, configuration and management](https://gitlab.com/groups/gitlab-org/-/epics/2778) of  Runners for self-managed.
1. [Make ML/AI workflows easier](https://gitlab.com/groups/gitlab-org/-/epics/2436), including features like [adding the ability to install industry leading applications like Kubeflow](https://gitlab.com/gitlab-org/gitlab/issues/197424) to your Kubernetes clusters.

#### Verify Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing
<%= partial("direction/ops/tiering/verify") %>